@import './theme.scss';

p {
    margin:0;
    padding: 0.2rem 0;
}

.link {
    text-decoration: none;
    color: $blue;
    cursor: pointer;
}

.link:hover {
    opacity: 0.8;
}

.link:active {
    opacity: 0.5;
}

.note {
    opacity: 0.5;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.note::before {
    content: "Note: ";
    font-weight: 800;
}

.button {
    padding: 0.8rem 0.8rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    >i {
        font-size: 1rem;
    }
    &.small {
        padding: 0.5rem 0.8rem;
    }
    &.f7-icons {
        font-weight: unset;
        border-radius: 100%;
        font-size: 1.1rem;
        padding: 0.6rem;
    }
}

button.button {
    border:unset;
    display:block;
    width: 100%;
    box-sizing: border-box;
}

$shades: ("100": 0.1, "200": 0.2, "300": 0.3, "400": 0.4, "500": 0.5, "600": 0.6, "700": 0.7, "800": 0.8, "900": 0.9);

@each $color, $hex in $colors {
    .bg-#{$color} {
        background: rgba($hex, 0.8);
    }
    .color-#{$color} {
        color: $hex;
    }

    .tint-#{$color} {
        background: rgba($hex, 0.2);
        color: $hex;
    }

    @each $s, $shade in $shades {
        .color-#{$color}-#{$s} {
            color: rgba($hex, $shade);
        }
        .bg-#{$color}-#{$s} {
            background: rgba($hex, $shade);
        }
    }

   
}

